<div
  class="bg-gray-100 w-full h-96 flex justify-center items-center font-inter"
>
  <div class="flex-col md:flex-row flex items-center justify-around">
    <div class="w-44 h-44 lg:w-72 lg:h-72">
      <img
        class="w-full shadow-2xl h-full rounded-full"
        src="../../../assets/Tamerlan.jpg"
        alt="Me"
      />
    </div>
    <div class="md:w-80 text-center font-medium md:text-lg text-[#475467]">
      Я студент университета Жубанов, в городе Актобе. Мне 19 лет, увлекаюсь
      различными видами исскуства, в частности в игре на гитаре.
    </div>
  </div>
</div>
